[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pep8 = "*"
autopep8 = "*"
pycodestyle = "*"

[packages]
django = "*"
pillow = "*"
django-phonenumber-field = "*"

[requires]
python_version = "3.8"
