<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Phonebook App</title>
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <h1>{{ title }}</h1>
    <p></p>
    {% for object in querryset %}
    <a href="{% url 'phone:phone_detail' pk=object.pk %}">{{ object.pk }}</a> <br>
    {{ object.first_name }} {{ object.last_name }}<br>
    {% if object.image %}
    {{ object.image.url }}<br>
    {% endif %}
    {{ object.notes }}<br>
    {% endfor %}
    </p>
</body>

</html>
